@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Admin";
    var existAdmin = ViewData["existAdmin"] as string;
    var existFormateur = ViewData["existFormateur"] as string;
    var existCategori = ViewData["existCategory"] as string;
}


@section VendorStyles
{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
}
@section PageStyles
{
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/Admin/styles.css">
}

<div class="grid-container">

    <header class="header">
        <div id="btn_menu" class="menu-icon" onclick="openSidebar()">
            <span class="material-icons-outlined" style="color:black;">menu</span>
        </div>
        <div>
            <a href="/Home/Index">
                <svg width="145" height="60" xmlns="http://www.w3.org/2000/svg">

                    <rect x="10" y="15" width="30" height="30" rx="5" ry="5" stroke="black" stroke-width="3" fill="#6930c3" />
                    <text x="26" y="37" font-size="20" font-family="Arial" text-anchor="middle" fill="white">C</text>


                    <text x="50" y="37" font-size="25" font-family="Arial" fill="#64dfdf">Codem</text>
                </svg>
            </a>
        </div>



        <ul class="header-nav ms-auto ms-md-0">

            <li class="nav-item dropdown">
                <button id="btnlanguage"
                class="btn btn-link nav-link"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                    <img width="30" class="icon icon-lg" src="~/images/language_img.png" />
                </button>

                <ul id="listlanguageAf"
                class="dropdown-menu dropdown-menu-end"
                style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                data-popper-placement="bottom-end">
                    <li>
                        <button class="dropdown-item d-flex align-items-center active" type="button" data-coreui-language-value="en" onclick="i18next.changeLanguage(&quot;en&quot;)">
                            <img width="30" class="icon icon-lg me-3" src="~/images/english_img.png" />English
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item d-flex align-items-center" type="button" data-coreui-language-value="es" onclick="i18next.changeLanguage(&quot;es&quot;)">
                            <img width="30" class="icon icon-lg me-3" src="~/images/spain_img.png" />Español
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item d-flex align-items-center" type="button" data-coreui-language-value="pl" onclick="i18next.changeLanguage(&quot;pl&quot;)">
                            <img width="30" class="icon icon-lg me-3" src="~/images/france_img.png" />France
                        </button>
                    </li>
                </ul>
            </li>






            <li class="nav-item dropdown">
                <button id="btnLightDarck"
                class="btn btn-link nav-link"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                    <img width="30" class="icon icon-lg theme-icon-active" src="~/images/contrast_img.png" />
                </button>

                <ul id="LightDarck"
                class="dropdown-menu dropdown-menu-end"
                style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                data-popper-placement="bottom-end">
                    <li>
                        <button class="dropdown-item d-flex align-items-center" type="button" data-coreui-theme-value="light">
                            <img width="30" class="icon icon-lg me-3" src="~/images/light_img.png" /><span data-coreui-i18n="light">Light</span>
                        </button>
                    </li>
                    <li>
                        <button class="dropdown-item d-flex align-items-center" type="button" data-coreui-theme-value="dark">
                            <img width="30" class="icon icon-lg me-3" src="~/images/dark_img.png" /><span data-coreui-i18n="dark">Dark</span>
                        </button>
                    </li>
                </ul>

            </li>

        </ul>




    </header>




    <aside id="sidebar">
        <div class="sidebar-title">
            <div class="sidebar-brand">
                <span class="material-icons-outlined">school</span>
            </div>
            <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">

            <li class="sidebar-list-item">
                <button id="btn_Admins" type="button" class="link_spp btn listmanaeg" data-bs-toggle="button" onclick="displiayTableAdmines()">
                    <img width="30" height="30" src="~/images/Admins_img.png" alt="Admins" style="margin-right:5px;" />
                    <p style="margin-top:5px;">Admins</p>
                </button>
            </li>




            <li class="sidebar-list-item">
                <button id="btn_Students" type="button" class="link_spp btn listmanaeg" data-bs-toggle="button" onclick="displiayTableStudent()">
                    <img width="30" height="30" src="~/images/Students_img.png" alt="Students" style="color:#e0e1dd; margin-right:5px;" />
                    <p style="margin-top:5px;">Students</p>
                </button>
            </li>



            <li class="sidebar-list-item">
                <button id="btn_Teachers" type="button" class="link_spp btn listmanaeg" data-bs-toggle="button" onclick="displiayTableTeachers()">
                    <img width="30" height="30" src="~/images/teacher.png" alt="Teachers" style="color:#e0e1dd; margin-right:5px;" />
                    <p style="margin-top:5px;">Teachers</p>
                </button>
            </li>



            <li class="sidebar-list-item">
                <button id="btn_Courses" type="button" class="link_spp btn listmanaeg" data-bs-toggle="button" onclick="displiayTableCourses()">
                    <img width="30" height="30" src="~/images/book.png" alt="courses" style="color:#e0e1dd; margin-right:5px;" />
                    <p style="margin-top:5px;">Courses</p>
                </button>
            </li>



            <li class="sidebar-list-item">
                <button id="btn_Categories" type="button" class="link_spp btn listmanaeg" data-bs-toggle="button" onclick="displiayTableCategories()">
                    <img width="30" height="30" src="~/images/categories_img.png" alt="courses" style="color:#e0e1dd; margin-right:5px;" />
                    <p style="margin-top:5px;">Categories</p>
                </button>
            </li>






        </ul>
        <div class="pied">
            <a href="/Home/Index" class="link_spp">
                <img width="30" height="30" src="~/images/out_img.png" alt="sign out" style="color:#e0e1dd; margin-right:5px;" />
                <p style="margin-top:5px; margin:5px;color:#e0e1dd;">Sign Out</p>
            </a>
        </div>

    </aside>



    <main class="main-container has-scrollbar" id="main">



        <div class="main-title">
            <button id="btn_DASHBOARD" type="button" class="link_spp  button_DASHBOARD" style="background:none;border:none;" data-bs-toggle="button" onclick="displiayTableDASHBOARD()">
                <img width="30" height="30" src="~/images/dashbord_img.png" alt="courses" style="color:#e0e1dd; margin-right:5px;" />
                <h2 style="color:#141414;">DASHBOARD</h2>
            </button>

        </div>





        <div class="row">

            <div class="row1 listDASHBOARD">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <h6 class="card-title text-body-secondary text-truncate" data-coreui-i18n="customers">Customers</h6>
                            <div class="bg-primary bg-opacity-25 text-primary p-2 rounded ms-2">
                                <img class="icon icon-xl" src="~/images/popular_man_img.png" />
                            </div>
                        </div>
                        @if (ViewData["existStudents"] == "exist")
                        {
                            
                            <div class="fs-4 fw-semibold pb-3" style="color:black;">@Model.countStudents</div>



                        }
                        else
                        {
                            <div class="fs-4 fw-semibold pb-3" style="color:black;">0</div>


                        }
                        <small class="text-danger">
                            (-12.4%
                            <img width="16" height="16" class="icon" src="~/images/down_arrow_img.png" />)
                        </small>
                    </div>
                </div>
            </div>

            <div class="row2 listDASHBOARD">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <h6 class="card-title text-body-secondary text-truncate" data-coreui-i18n="orders">Orders</h6>
                            <div class="bg-primary bg-opacity-25 text-primary p-2 rounded ms-2">
                                <img class="icon icon-xl" src="~/images/shopping_cart_img.png" />
                            </div>
                        </div>

                        @if (ViewData["existInscription"] == "exist")
                        {

                            <div class="fs-4 fw-semibold pb-3" style="color:black;">@Model.countInscriptions</div>




                        }
                        else
                        {
                            <div class="fs-4 fw-semibold pb-3" style="color:black;">0</div>



                        }
                        <small class="text-success">
                            (17.2%
                            <img width="16" height="16" class="icon" src="~/images/up_arrow_img.png" />)
                        </small>
                    </div>
                </div>
            </div>


            <div class="row3 listDASHBOARD">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="card-title fs-4 fw-semibold">Traffic</div>
                        <div class="card-subtitle text-body-secondary" style="color:black;">
                            <span>January 1, 2022</span>&nbsp;-&nbsp;<span>December 31, 2022</span>
                        </div>
                        <div style="height:300px; margin-top:40px;">
                            <canvas class="class_cardes_el1" id="cardes_el1"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row4 listDASHBOARD">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div>
                            <div class="col">
                                <div class="card-title fs-4 fw-semibold" data-coreui-i18n="sale">Sale</div>
                            </div>
                            <div class="col text-end text-primary fs-4 fw-semibold">$613.200</div>
                        </div>
                        <div class="card-subtitle text-body-secondary">
                            <span data-coreui-i18n-date="date, { 'date': '2023, 1, 1'}" data-coreui-i18n-date-format="{ 'month': 'long' }" style="color:black;">January</span>&nbsp;-
                            <span data-coreui-i18n-date="date, { 'date': '2023, 6, 1'}" data-coreui-i18n-date-format="{ 'year': 'numeric', 'month': 'long' }" style="color:black;">June 2023</span>
                        </div>
                    </div>
                    <div style="width:100%;height:300px;">
                        <canvas id="card-chart-new1"></canvas>
                    </div>
                </div>
            </div>










            <div class="Admins" id="AdminsTable">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="row pb-3">
                            <div class="col">
                                <div class="card-title fs-4 fw-semibold" data-coreui-i18n="Admins" style="color:black;">
                                    <img width="50" height="50" class="icon" style="padding-right:10px;padding-bottom:10px;" src="~/images/racism_img.png" />
                                    Admins
                                </div>
                                @if (existAdmin == "exist")
                                {
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredAdminsCounter" style="color:black;">

                                        @Model.countAdmins  registered Admins
                                    </div>

                                }
                                else
                                {
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredAdminsCounter" style="color:black;">

                                        0  registered Admins
                                    </div>
                                }



                                <div class="input-group-admine input-group">
                                    <input type="search" placeholder="Search...">
                                    <img width="30" height="30" src="~/images/search_img.png" alt="">
                                </div>
                            </div>







                            <div class="col-auto ms-auto d-flex gap-lg-2 ">
                                <div>
                                    <a href="/Admine/RegisterAdmin" class="btn btn-secondary">
                                        <img class="icon me-2" src="~/images/user-plus_img.png" />
                                        <span data-coreui-i18n="addNewAdmins">Add new Admins</span>
                                    </a>
                                </div>



                            </div>
                        </div>
                        <div class="table-responsive  has-scrollbar">
                            <table class="table mb-0">
                                <thead class="fw-semibold text-body-secondary">
                                    <tr class="align-middle">

                                        <th data-coreui-i18n="Admins">

                                            Admins

                                        </th>
                                        <th data-coreui-i18n="Email">Email</th>
                                        <th data-coreui-i18n="activity_Admins">Activity</th>

                                    </tr>
                                </thead>
                                <tbody class="tbody-admine">


                                    @if (existAdmin == "exist")
                                    {
                                        @foreach (var subAdmin in Model.Admins)
                                        {
                                            @if (@subAdmin.Email != ViewBag.UserEmail)
                                            {
                                                <tr class="align-middle">
                                                    <td>
                                                        <div class="text-nowrap">@subAdmin.Name @subAdmin.Prenom</div>
                                                    </td>

                                                    <td>
                                                        <div class="small text-body-secondary text-nowrap">
                                                            <span data-coreui-i18n="Email">@subAdmin.Email</span>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-link nav-link"
                                                            type="button"
                                                            data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                                <img width="50" height="50" src="~/images/option_img.png" class="icon" />
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end"
                                                            data-popper-placement="bottom-end">
                                                                <li>
                                                                    @using (Html.BeginForm("DeleteAdmin", "Admine", FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <input type="hidden" id="idAdminDelete" name="idAdminDelete" value="@subAdmin.Id" />
                                                                        <button type="submit" class="dropdown-item text-danger">Delete</button>
                                                                    }
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3" class="text-center">No administrator found.</td>
                                        </tr>
                                    }




                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>






            <div class="Students" id="StudentsTable">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="row pb-3">
                            <div class="col">
                                <div class="card-title fs-4 fw-semibold" data-coreui-i18n="Students" style="color:black;">
                                    <img width="50" height="50" class="icon" style="padding-right:10px;padding-bottom:10px;" src="~/images/racism_img.png" />
                                    Students
                                </div>
               
                                @if (ViewData["existStudents"] == "exist")
                                {
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredStudentsCounter" style="color:black;">@Model.countStudents registered Students</div>


                                }else{
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredStudentsCounter" style="color:black;">0 registered Students</div>

                                }
                                <div class="input-group input-group-Students">
                                    <input type="search" placeholder="Search...">
                                    <img width="30" height="30" src="~/images/search_img.png" alt="">
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive  has-scrollbar">
                            <table class="table mb-0">
                                <thead class="fw-semibold text-body-secondary">
                                    <tr class="align-middle">

                                        <th data-coreui-i18n="Student">Student</th>
                            
                                       

                                    </tr>
                                </thead>
                                <tbody class="tbody-admine">

                                    @if (ViewData["existStudents"] == "exist"){

                                        @foreach (var subStudents in Model.participant){
                                             <tr class="align-middle">

                                            <td class="td-students">
                                                    <div class="text-nowrap">@subStudents.Name @subStudents.Prenom</div>
                                                <div class="small text-body-secondary text-nowrap">

                                                        <span data-coreui-i18n="Email_students">@subStudents.Email</span>

                                                </div>
                                            </td>

                                           
                                        </tr>
                                        }
                                       
                                    }else{
                                        <tr>
                                            <td class="text-center">No trainers found.</td>
                                        </tr>
                                    }



                                    


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>












            <div class="Teachers" id="TeachersTable">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="row pb-3">
                            <div class="col">
                                <div class="card-title fs-4 fw-semibold" data-coreui-i18n="Teachers" style="color:black;">
                                    <img width="50" height="50" class="icon" style="padding-right:10px;padding-bottom:10px;" src="~/images/racism_img.png" />
                                    Teachers
                                </div>
                                @if (existFormateur == "exist")
                                {
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredTeachersCounter" style="color:black;">
                                        @Model.countFormateur registered Teachers
                                    </div>


                                }
                                else
                                {
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredTeachersCounter" style="color:black;">0 registered Teachers</div>

                                }
                                <div class="input-group-Teachers input-group">
                                    <input type="search" placeholder="Search...">
                                    <img width="30" height="30" src="~/images/search_img.png" alt="">
                                </div>
                            </div>







                            <div class="col-auto ms-auto d-flex gap-lg-2 ">
                                <div>
                                    <a href="/Admine/RegisterTeachers" class="btn btn-secondary">
                                        <img class="icon me-2" src="~/images/user-plus_img.png" />
                                        <span data-coreui-i18n="addNewTeachers">Add new Teachers</span>
                                    </a>
                                </div>



                            </div>
                        </div>
                        <div class="table-responsive  has-scrollbar">
                            <table class="table mb-0">
                                <thead class="fw-semibold text-body-secondary">
                                    <tr class="align-middle">

                                        <th data-coreui-i18n="Teachers">

                                            Teachers

                                        </th>

                                        <th data-coreui-i18n="Email_Teachers">Email</th>
                                        <th data-coreui-i18n="speciality_Teachers">speciality</th>

                                        <th data-coreui-i18n="activity_Teachers">Activity</th>

                                    </tr>
                                </thead>

                                <tbody class="tbody-Teachers">
                                    @if (existFormateur == "exist")
                                    {
                                        @foreach (var subFormateur in Model.Formateurs)
                                        {
                                            <tr class="align-middle">

                                                <td>
                                                    <div class="text-nowrap">@subFormateur.Name  @subFormateur.Prenom</div>

                                                </td>
                                                <td>
                                                    <div class="small text-body-secondary text-nowrap">
                                                        <span data-coreui-i18n="Email">@subFormateur.Email</span>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="small text-body-secondary text-nowrap">
                                                        <span data-coreui-i18n="speciality_Teachers">@subFormateur.Specialite</span>
                                                    </div>
                                                </td>

                                                <td>
                                                    <div class="dropdown">

                                                        <button class="btn btn-link nav-link"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                            <img width="50" height="50" src="~/images/option_img.png" class="icon" />
                                                        </button>


                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                        style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                                                        data-popper-placement="bottom-end">

                                                            <li>
                                                                @using (Html.BeginForm("DeleteFormateur", "Admine", FormMethod.Post))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <input type="hidden" id="idFormateurDelete" name="idFormateurDelete" value="@subFormateur.Id" />
                                                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                                                }

                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="/Admine/infoFormateur?idFormateur=@subFormateur.Id">info</a>

                                                            </li>

                                                        </ul>

                                                    </div>
                                                </td>


                                            </tr>
                                        }

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="4" class="text-center">No trainers found.</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>












            <div class="Courses" id="CoursesTable">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="row pb-3">
                            <div class="col">
                                <div class="card-title fs-4 fw-semibold" data-coreui-i18n="Courses" style="color:black;">
                                    <img width="50" height="50" class="icon" style="padding-right:10px;padding-bottom:10px;" src="~/images/book.png" />
                                    Courses
                                </div>
                                @if (ViewData["existFormatio"] == "exist"){
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredCoursesCounter" style="color:black;">@Model.countFormatons registered Courses</div>

                                }else{
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredCoursesCounter" style="color:black;">0 registered Courses</div>

                                }
                                
                                <div class="input-group-Courses input-group">
                                    <input type="search" placeholder="Search...">
                                    <img width="30" height="30" src="~/images/search_img.png" alt="">
                                </div>
                            </div>
                        </div>



                        <div class="table-responsive  has-scrollbar">
                            <table class="table mb-0">
                                <thead class="fw-semibold text-body-secondary">
                                    <tr class="align-middle">

                                        <th data-coreui-i18n="Courses">
                                            Courses
                                        </th>
                                        <th data-coreui-i18n="Prix">Prix $</th>
                                        <th data-coreui-i18n="Duration">Duration</th>
                                        <th data-coreui-i18n="activity_Courses">Activity</th>

                                    </tr>
                                </thead>
                                <tbody class="tbody-Courses">
                                    @if (ViewData["existFormatio"] == "exist"){
                                        @foreach (var subformation in Model.formations){
                                            <tr class="align-middle">

                                                <td>
                                                    <div class="text-nowrap">@subformation.Titre</div>
                                                </td>
                                                <td>
                                                    <div class="small text-body-secondary text-nowrap"><span data-coreui-i18n="Prix">@subformation.Prix $</span></div>

                                                </td>
                                                <td>
                                                    <div class="small text-body-secondary text-nowrap"><span data-coreui-i18n="Duration">@subformation.EstimationDeDuree  h</span></div>

                                                </td>

                                                <td>
                                                    <div class="dropdown">

                                                        <button class="btn btn-link nav-link"
                                                                type="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            <img width="50" height="50" src="~/images/option_img.png" class="icon" />
                                                        </button>


                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                            style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                                                            data-popper-placement="bottom-end">
                                                            
                                                            <li>
                                                                @using (Html.BeginForm("DeleteFormation", "Admine", FormMethod.Post))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <input type="hidden" id="idFormationDelete" name="idFormationDelete" value="@subformation.Id" />
                                                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                                                }
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    }else{
                                        <tr>
                                            <td colspan="4" class="text-center">No trainers found.</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>








            <div class="Categories" id="CategoriesTable">
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="row pb-3">
                            <div class="col">
                                <div class="card-title fs-4 fw-semibold" data-coreui-i18n="Categories" style="color:black;">
                                    <img width="50" height="50" class="icon" style="padding-right:10px;padding-bottom:10px;" src="~/images/categories_img.png" />
                                    Categories
                                </div>


                                @if (existCategori == "exist")
                                {

                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredCategoriesCounter" style="color:black;">
                                        @Model.countCategory registered Categories
                                    </div>



                                }
                                else
                                {
                                    <div class="card-subtitle text-body-secondary mb-4" data-coreui-i18n="registeredCategoriesCounter" style="color:black;">
                                        0 registered Categories
                                    </div>

                                }


                                <div class="input-group-Categories input-group">
                                    <input type="search" placeholder="Search...">
                                    <img width="30" height="30" src="~/images/search_img.png" alt="">
                                </div>
                            </div>







                            <div class="col-auto ms-auto d-flex gap-lg-2 ">
                                <div>
                                    <a href="/Admine/addCategories" class="btn btn-secondary">
                                        <img width="24" height="24" class="icon me-2" src="~/images/plus_img.png" />
                                        <span data-coreui-i18n="addNewCategories">Add new Categories</span>
                                    </a>
                                </div>



                            </div>
                        </div>






                        <div class="table-responsive  has-scrollbar">
                            <table class="table mb-0">
                                <thead class="fw-semibold text-body-secondary">
                                    <tr class="align-middle">

                                        <th data-coreui-i18n="Categories">

                                            Categories
                                        </th>

                                        <th data-coreui-i18n="activity_Categories" style="text-align: center;">Activity</th>

                                    </tr>
                                </thead>
                                <tbody class="tbody-categories">

                                    @if (existCategori == "exist")
                                    {
                                        @foreach (var subCategory in Model.Categorys)
                                        {
                                            <tr class="align-middle">

                                                <td>
                                                    <div class="text-nowrap">@subCategory.Name</div>

                                                </td>

                                                <td>
                                                    <div class="dropdown" style="padding-left: 40%;">

                                                        <button class="btn btn-link nav-link"
                                                                type="button"
                                                                data-bs-toggle="dropdown"
                                                                aria-expanded="false">
                                                            <img width="50" height="50" src="~/images/option_img.png" class="icon" />
                                                        </button>


                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                            style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                                                            data-popper-placement="bottom-end">
                                                            <li>
                                                                <a class="dropdown-item" href="/Admine/infoCategory?idCategory=@subCategory.Id">Info</a>
                                                            </li>
                                                            <li>
                                                                @using (Html.BeginForm("DeleteCategory", "Admine", FormMethod.Post))
                                                                {
                                                                    @Html.AntiForgeryToken()
                                                                    <input type="hidden" id="idCategoryDelete" name="idCategoryDelete" value="@subCategory.Id" />
                                                                    <button type="submit" class="dropdown-item text-danger">Delete</button>
                                                                }

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }else{
                                        <tr>
                                            <td colspan="2" class="text-center">No trainers found.</td>
                                        </tr>
                                    }




                                   

                                    <!--
                                    <tr class="align-middle">

                                        <td>
                                            <div class="text-nowrap">info</div>

                                        </td>

                                        <td>
                                            <div class="dropdown" style="padding-left: 40%;">

                                                <button class="btn btn-link nav-link"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <img width="50" height="50" src="~/images/option_img.png" class="icon" />
                                                </button>


                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                                                    data-popper-placement="bottom-end">
                                                    <li>
                                                        <a class="dropdown-item" href="/Admine/infocategory" data-coreui-i18n="info">info</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#confirmModal" data-coreui-i18n="delete">Delete</a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>


                                    <tr class="align-middle">

                                        <td>
                                            <div class="text-nowrap">indus</div>

                                        </td>

                                        <td>
                                            <div class="dropdown" style="padding-left: 40%;">

                                                <button class="btn btn-link nav-link"
                                                        type="button"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false"
                                                        style="text-align:center;">
                                                    <img width="50" height="50" src="~/images/option_img.png" class="icon" />
                                                </button>


                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    style="--cui-dropdown-min-width: 8rem; position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 42px, 0px);"
                                                    data-popper-placement="bottom-end">
                                                    <li>
                                                        <a class="dropdown-item" href="#" data-coreui-i18n="info">Info</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item text-danger" href="#" data-bs-toggle="modal" data-bs-target="#confirmModal" data-coreui-i18n="delete">Delete</a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>




































        </div>









    </main>

















</div>



@section VendorScripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}

@section PageScripts
{
    <script src="~/js/Admine/DashbordJavaScript.js"></script>
    <script src="~/js/Admine/script_search.js"></script>

}

